.home-page {
  @import 'https://fonts.googleapis.com/css?family=Gloria+Hallelujah';

ion-item {
  display: inline-block;
  width: 50% !important;
}

.test {
  height: 90px;
}

.home-background {
  background: url('/img/game-bg.png') no-repeat center center fixed;
  background-size: cover;
}

.item {
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  font-family: 'Gloria Hallelujah', cursive;

}

}
